{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="CDAC, ISI, Visual Perception">
  <meta name="mainak_mandal" content="Muller-Lyer Illusion">
  <link rel ="stylesheet" type="text/css" href="{%static 'ml_exp/css/styles.css'%}"
</head>
<body>

  <h1> Muller-Lyer Illusion: Wing angle variation </h1>



<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  <p>Value: <span id="demo"></span></p>
</div>

<script src="{%static 'ml_exp/scripts/scripts.js'%}">
</script>


</body>
</html>
